﻿* {
    /*font-size: 16px;*/
}



body {
}


.std_div {
    width: 800px;
    margin-left: 200px;
    padding: 1px 16px;
    font-size: 20px;
}

.horizontal_div {
    display: inline-block;
    width: 100%
}

.substd_div {
}


.std_Button {
    align-self: center;
    font-size: 15px;
    display: block;
    color: #000;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}

.std_Textbox {
    text-align: center;
    font-size: 15px;
    color: #000;
    padding: 5px;
    text-decoration: none;
}

.tb_inputError {
    text-align: center;
    font-size: 15px;
    color: #FF0000;
    padding: 5px;
    text-decoration: none;
    border-color: #FF0000;
}

.tb_inputCorrect {
    text-align: center;
    font-size: 15px;
    color: #00AE23;
    padding: 5px;
    text-decoration: none;
    border-color: #00AE23;
}

table .std_table {
    width: 50%;
}

.hooverMarking tr:hover {
    font-weight: 600;
}

.evenOddMarking tr:nth-child(even) {
    background-color: #ededed;
}

.std_table_tb {
    width: 100%;
    float: left;
    display: inline-block;
}

.std_table_inputError_tb {
    color: #FF0000;
    text-decoration: none;
    border-color: #FF0000;
}



/*
    Table Design
*/
.table_head {
    font-weight: bold;
    background-color: black;
    color: white;
}

.table_row_cancelled {
    /*background-color: #c2d6d6;*/
    text-decoration: line-through;
}

.table_row_archivedAnnualAccount {
    background-color: #D7DF01;
    text-align: center;
    font-weight: bold;
}

.table_seperatorRow {
    text-align: center;
    font-weight: bold;
}

table.table_row_grayBackground {
    background-color: #ededed;
}

/*
    Header
*/
.headbody {
    padding: 1px;
    background-color: #f1f1f1;
}

.head_p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}


.subhead_p {
    font-size: 20px;
    text-align: center;
}

/*
    Sidebar - Navbar
*/
#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    font-size: 20px;
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

    li a.active {
        background-color: #4CAF50;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    li a.sign_off {
        background-color: #FF0000;
        color: white;
    }

    li a.admin {
        background-color: #8000FF;
        color: white;
    }

    li a.private {
        background-color: #80FF00;
        color: white;
    }



/*
    Login
*/
#Login {
    font-size: 20px;
    background-color: silver;
    border: 2px dotted black;
    position: center;
    float: left;
}

#div_login {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
