﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Events.aspx.cs" Inherits="BWSystemServer.WebAccess.Events" %>

<%@ Register Src="~/WebAccess/SubElements/Header.ascx" TagPrefix="SE" TagName="Header" %>
<%@ Register Src="~/WebAccess/SubElements/Sidebar.ascx" TagPrefix="SE" TagName="Sidebar" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../Design.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <SE:Header runat="server" ID="Head" HeaderText="Events" SubheaderText="All your previous and future events." />
    <SE:Sidebar runat="server" ID="Sidebar" />

    <form runat="server">
        <div class="std_div">
            <asp:Table ID="eventsTable" runat="server" Width="800px" CssClass="hooverMarking evenOddMarking">
                <asp:TableRow CssClass="table_head">
                    <asp:TableCell Width="50px">ID</asp:TableCell>
                    <asp:TableCell Width="250px">Event Name</asp:TableCell>
                    <asp:TableCell Width="250px">Start</asp:TableCell>
                    <asp:TableCell Width="250px">End</asp:TableCell>
                    <asp:TableCell Width="150px">&nbsp;</asp:TableCell>
                </asp:TableRow>
            </asp:Table>

            <br />
            <br />
            <div class="substd_div" style="float: right">
                <asp:Button CssClass="std_Button" ID="SeeArchiveData_Btn" runat="server" Text="See Archive Data" OnClick="SeeArchiveData_Btn_Click" />
                <asp:Button CssClass="std_Button" ID="CreateEvent_Btn" runat="server" Text="Create Event" OnClick="CreateEvent_Btn_Click" />
            </div>
        </div>
    </form>
</body>
</html>
